@media all and (max-width: 800px) {
  .page > #quartz-body > :not(.sidebar.left:has(.notes-toc-explorer)) {
    transition: transform 300ms ease-in-out;
  }
  .page > #quartz-body.lock-scroll > :not(.sidebar.left:has(.notes-toc-explorer)) {
    transform: translateX(100dvw);
    transition: transform 300ms ease-in-out;
  }
  .page > #quartz-body .sidebar.left:has(.notes-toc-explorer) {
    box-sizing: border-box;
    position: sticky;
    background-color: var(--light);
    padding: 1rem 0 1rem 0;
    margin: 0;
  }
  .page > #quartz-body .hide-until-loaded ~ .notes-toc-content {
    display: none;
  }
}

.notes-toc-explorer {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  min-height: 1.2rem;
  flex: 0 1 auto;
}
.notes-toc-explorer.collapsed {
  flex: 0 1 1.2rem;
}
.notes-toc-explorer.collapsed .fold {
  transform: rotateZ(-90deg);
}
.notes-toc-explorer .fold {
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
  opacity: 0.8;
}
@media all and (max-width: 800px) {
  .notes-toc-explorer {
    order: -2;
    height: initial;
    overflow: hidden;
    flex-shrink: 0;
    align-self: flex-start;
    margin-top: auto;
    margin-bottom: auto;
  }
}
.notes-toc-explorer button.mobile-toc-explorer {
  display: none;
}
.notes-toc-explorer button.desktop-toc-explorer {
  display: flex;
}
@media all and (max-width: 800px) {
  .notes-toc-explorer button.mobile-toc-explorer {
    display: flex;
  }
  .notes-toc-explorer button.desktop-toc-explorer {
    display: none;
  }
}
.notes-toc-explorer svg {
  pointer-events: all;
  transition: transform 0.35s ease;
}
.notes-toc-explorer svg > polyline {
  pointer-events: none;
}

.notes-toc-explorer button.mobile-toc-explorer,
.notes-toc-explorer button.desktop-toc-explorer {
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  padding: 0;
  color: var(--dark);
  align-items: center;
}
.notes-toc-explorer button.mobile-toc-explorer h2,
.notes-toc-explorer button.desktop-toc-explorer h2 {
  font-size: 0.85rem;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--gray);
  font-weight: 600;
}

.notes-toc-content {
  list-style: none;
  overflow: hidden;
  overflow-y: auto;
  margin-top: 0.5rem;
}
.notes-toc-content ul {
  list-style: none;
  position: relative;
  margin: 0.5rem 0;
  padding: 0;
}
.notes-toc-content ul.notes-toc-ul {
  overscroll-behavior: contain;
}
.notes-toc-content ul li {
  margin: 0.25rem 0;
}
.notes-toc-content ul > li > a {
  color: var(--dark);
  opacity: 0.35;
  text-decoration: none;
  font-size: 0.9rem;
  transition:
    0.5s ease opacity,
    0.3s ease color;
}
.notes-toc-content ul > li > a.in-view {
  opacity: 0.8;
  color: var(--tertiary);
}
.notes-toc-content ul .depth-0 {
  padding-left: 0;
}
.notes-toc-content ul .depth-1 {
  padding-left: 1rem;
}
.notes-toc-content ul .depth-2 {
  padding-left: 2rem;
}
.notes-toc-content ul .depth-3 {
  padding-left: 3rem;
}
.notes-toc-content ul .depth-4 {
  padding-left: 4rem;
}
.notes-toc-content ul .depth-5 {
  padding-left: 5rem;
}
.notes-toc-content ul .depth-6 {
  padding-left: 6rem;
}

.notes-toc-overlay-heading {
  display: none;
}

@media all and (max-width: 800px) {
  .notes-toc-overlay-heading {
    display: block;
    font-size: 1rem;
    margin: 0 0 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--gray);
  }
}
.notes-toc-content ul li > a {
  color: var(--dark);
  opacity: 0.5;
  pointer-events: all;
  text-decoration: none;
  font-size: 0.9rem;
}

.notes-toc-content ul li > a:hover {
  opacity: 1;
  color: var(--tertiary);
}

@media all and (max-width: 800px) {
  .notes-toc-explorer {
    flex: 0 0 34px;
  }
  .notes-toc-explorer > .notes-toc-content {
    transform: translateX(-100vw);
    visibility: hidden;
  }
  .notes-toc-explorer.notes-toc-open > .notes-toc-content {
    transform: translateX(0);
    visibility: visible;
  }
  .notes-toc-explorer .notes-toc-content {
    box-sizing: border-box;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
    background-color: var(--light);
    max-width: 100vw;
    width: 100vw;
    overflow: hidden;
    padding: 4rem 0rem;
    height: 100dvh;
    max-height: 100dvh;
  }
  .notes-toc-ready.notes-toc-explorer .notes-toc-content {
    transition:
      transform 200ms ease,
      visibility 200ms ease;
  }
  .notes-toc-explorer .mobile-toc-explorer {
    margin: 0;
    padding: 5px;
    z-index: 101;
  }
  .notes-toc-explorer .mobile-toc-explorer.hide-until-loaded {
    display: none;
  }
  .notes-toc-explorer .mobile-toc-explorer .lucide-menu {
    stroke: var(--darkgray);
  }
}

@media all and (max-width: 800px) {
  .mobile-no-scroll .notes-toc-content > .notes-toc-ul {
    overscroll-behavior: contain;
  }
}
